<div class="dashboard-container">
  <!-- Navbar with burger menu -->


  <!-- Sidebar -->
  <div class="sidebar" [class.active]="isMenuOpen">
    <div class="sidebar-header">
      <a href="#" class="logo">My Dashboard</a>
      <p class="username">Hello {{ username }}</p>
    </div>
    <!-- Sidebar menu items -->
    <ul class="sidebar-links">
      <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
      <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
      <li><a>
        <button class="logout" (click)="logout()">Logout</button>
      </a></li>
    </ul>
  </div>
  <nav class="navbar">
    <div class="navbar-container">
      <!-- Burger Menu icon -->
            <div class="burger-menu" (click)="toggleMenu()">
             <div class="sub-burger-menu" style="height: 90%;">
              <div>
                <h1 style="font-size: .4in;margin-top: 0;">Menu</h1>
              </div>
              <div style="height: 50%;">
                <span class="burger-line">_________</span><br>
                <span class="burger-line">_________</span><br>
                <span class="burger-line">_________</span><br>
              </div>
             </div>
            </div>
        <a href="#" class="logo">My Dashboard</a>


      <!-- Logo and user info -->
      <div class="name">
        <p style="color: white;">Hello! {{ username }}</p>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="sub-content">
    <app-default></app-default>
  </div>
</div>
