<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar" [class.active]="isMenuOpen">
    <div class="sidebar-header">
      <a href="#" class="logo">My Dashboard</a>
      <p class="username">Hello {{ username }}</p>
    </div>
    <!-- Sidebar menu items -->
    <ul class="sidebar-links flex flex-col h-full">
      <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
      <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>

      <!-- Logout button at the bottom -->
      <li class="mt-auto">
        <button class="logout bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded mx-auto block">
          Logout
        </button>
      </li>
    </ul>
  </div>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="navbar-container">
      <!-- Burger Menu icon -->
      <div class="burger-menu" (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </div>

      <!-- Logo -->
      <a href="#" class="logo">My Dashboard</a>

      <!-- User Info -->
      <div class="name">
        <p style="color: white;">Hello! {{ username }}</p>
      </div>
    </div>
  </nav>

  <!-- Main content -->
  <div class="sub-content">
    <app-default></app-default>
  </div>
</div>
