<div class="menu bg-cyan-100">
  <ul>
    <li>
      <a href=""><button><img src="" alt="">Friitz</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
  </ul>
</div>
