<div class="menu bg-gray-100">
  <ul>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
    <li>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
      <a href=""><button><img src="" alt="">Administrator</button></a>
    </li>
  </ul>
</div>
