<div class="login-container">
  <h2>Login</h2>

  <form (ngSubmit)="login()">
    <!-- Username Input -->
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        [(ngModel)]="username"
        class="form-control"
        (input)="errorMessage = ''"
      />
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }} <!-- Display error message if exists -->
      </div>
    </div>

    <!-- Password Input -->
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        [(ngModel)]="password"
        class="form-control"
        (input)="errorMessage = ''"
      />
      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }} <!-- Display error message if exists -->
      </div>
    </div>

    <!-- Login Button -->
    <button type="submit" id="login-btn">Login</button>
  </form>
</div>
