<!-- src/app/login/login.component.html -->
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email" type="email" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" type="password" required />
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
      </form>

      <p *ngIf="serverMessage">{{ serverMessage }}</p>  <!-- Display the server message -->
    </mat-card-content>
  </mat-card>
</div>
